{# src/Sportimimi/userBundle/Resources/views/Page/contact.html.twig #}
{% extends 'SportimimiuserBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h2>Contact Sportimini</h2>
    </header>

    <p>Liên hệ với chúng tôi để biết thêm thông tin</p>
	<!--
	<form action="{{ path('Contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
	-->
	Information : infos@teamsport.vn <br />
	Website Administrator : maximegastaldo@teamsport.vn
{% endblock %}