{% block stylesheets_include %}
    <style type="text/css">
        #customBtn, #customBtnYahoo, #customBtnFacebook {
            display: inline-block;
            background: #dd4b39;
            color: white;
            width: 250px;
            border-radius: 5px;
            white-space: nowrap;
            cursor: pointer
        }

        #customBtnYahoo {
            background: #7a0095;

        }

        #customBtnFacebook {
            background: #4c66a4;

        }

        #customBtn:hover {
        	background: #e74b37;
            cursor: hand;
        }
        
        #customBtnYahoo:hover {}
        
        #customBtnFacebook:hover {}
        
        span.label {
            font-weight: bold;
        }

        #customBtn span.icon {
            background: url('{{ asset('images/icons/btn_red_32.png') }}') transparent 5px 50% no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 35px;
            height: 35px;
            border-right: rgba(0, 0, 0, 0.2) 1px solid;
        }

        span.buttonText {
            display: inline-block;
            vertical-align: middle;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 14px;
            font-weight: bold;
            /* Use the Roboto font that is loaded in the <head>
            font-family: 'Roboto',arial,sans-serif; */
        }
        #fos_user_registration_form label {
        	/* display:none; */
        }
    </style>
{% endblock %}
<div data-equalizer>
<!-- START SLIDER -->
<div class="row">
    <div class="hover-slider">

        <div class="medium-4 large-5 columns left hide-for-small" style="padding-top:7%">
            <h2>
                <div class="row"style="margin-bottom:10px">
                    <div class="medium-9 large-9 slogan1">{{ 'Bạn tìm người'|trans }}</div>
                </div>

                <div class="row">
                    <div class="medium-9 large-9 slogan1">
                        {{ 'chơi thể thao ?'|trans }}
                    </div>
                </div>   
            </h2>
            <div class="row">
                <div class="slogan2">
                    {{ 'Tham gia vào mạng lưới thể thao tốt nhất tại Việt Nam.'|trans }}
                </div>
            </div>
            <div class="row">
                <div class="slogan2" style="margin-top:10px">
                    {{ 'Tìm bạn bè để chơi, tìm phòng để chơi, tạo nhóm của bạn.'|trans }}
                </div>
            </div>
            <div class="row" style="padding-top:15px">
                <a href="https://play.google.com/store/apps/details?id=com.teamsport.app">
                    <img alt="Android app on Google Play" src="{{ asset('images/buttons/en_app_rgb_wo_45.png') }}"/>
                </a>
				<!--
                <a href="https://play.google.com/store/apps/details?id=com.teamsport.app">
                    <img alt="Android app on Google Play" src="{{ asset('images/buttons/apple_store.png') }}"/>
                </a>
                -->
            </div>
        </div>
        <div class="small-6 left show-for-small">
            <h2>
                <div>
                    <div class="slogan1" style="font-size:9pt">
                        {{ 'Bạn tìm người'|trans }} {{ 'chơi thể thao ?'|trans }}
                    </div>
                </div>
            </h2>
            <div>
                <div class="slogan2" style="font-size:9pt">
                    {{ 'Tham gia vào mạng lưới thể thao tốt nhất tại Việt Nam.'|trans }}
                </div>
            </div>

            <div style="padding-top:3px">
                <a href="https://play.google.com/store/apps/details?id=com.teamsport.app" style="width:30px">
                    <img alt="Android app on Google Play" src="{{ asset('images/buttons/en_app_rgb_wo_45.png') }}"/>
                </a>
				<!--
                <a href="https://play.google.com/store/apps/details?id=com.teamsport.app">
                    <img alt="Android app on Google Play" src="{{ asset('images/buttons/apple_store.png') }}"/>
                </a>
                -->
            </div>
        </div>
        <div id="sign-up" class="small-5 medium-7 large-5 columns right"  data-equalizer-watch>
            <div class="large-12 columns text-center hide-for-small" style="font-size:16pt;padding:15px">{{ 'ĐĂNG KÝ'|trans }}</div>

                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                	<div class="hide-for-small">
	                     {{ form_widget(form.email) }}
	                     {{ form_widget(form.plainPassword) }}
	                     {{ form_widget(form.profile.nom) }}
	                     {{ form_widget(form.profile.prenom) }}
	                     {{ form_widget(form.profile.phone) }}
	                     {{ form_widget(form) }}
                	</div>
                	
                    <div class="medium-7 large-12 columns hide-for-small">
                        <p style="font-size:8pt">
                            {{ 'Bằng cách đăng ký trên Teamsport, bạn đồng ý với Điều khoản Dịch vụ, Chính sách bảo mật và Chính sách cookie Teamsport.'|trans }}
                        </p>
                    </div>
                    
                    <div class="medium-7 large-12 columns text-center" style="padding-left:0">
                        <button type="submit" id="registerButton" class="button radius hide-for-small"><i class="fi-arrow-right"
                                                                                 style="height:10px"></i> {{ 'Đăng ký'|trans }}
                        </button>

                        <div style="padding-bottom: 10px;padding-top:10px" class="hide-for-small">{{ 'Hoặc'|trans }}</div>


                        <div id="gSignInWrapper" style="padding-bottom: 5px" class="hide-for-small">
                            <div id="customBtnFacebook" class="customGPlusSignIn">
                                <i class="fa fa-facebook"></i>
                                <a style="color:white" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">
                                    <span class="buttonText">{{ 'Đăng ký với Facebook'|trans }}</span>
                                </a>
                            </div>
                        </div>
                        <div id="gSignInWrapper" style="padding-bottom: 5px" class="show-for-small">
                            <div id="customBtnFacebook" class="customGPlusSignIn" style="width:130px">
                                <span class="icon"></span>
                                <a style="color:white" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">
                                    <span class="buttonText" style="font-size:7pt;padding-left:5px">{{ 'Đăng ký với Facebook'|trans }}</span>
                                </a>
                            </div>
                        </div>

                        <div id="gSignInWrapper" style="padding-bottom: 5px" class="hide-for-small">
                            <div id="customBtn" class="customGPlusSignIn">
                                <i class="fa fa-google-plus"></i>
                                <a style="color:white" href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}">
                                    <span class="buttonText">{{ 'Đăng ký với Google +'|trans }}</span>
                                </a>
                            </div>
                        </div>
                         <div id="gSignInWrapper" style="padding-bottom: 5px" class="show-for-small">
                            <div id="customBtn" class="customGPlusSignIn" style="width:130px">
                                <a style="color:white" href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}">
                                    <span class="buttonText" style="font-size:7pt;padding-left:5px">{{ 'Đăng ký với Google +'|trans }}</span>
                                </a>
                            </div>
                        </div>

                        <div id="gSignInWrapper" class="hide-for-small">
                            <div id="customBtnYahoo" class="customGPlusSignIn">
                                <i class="fa fa-yahoo"></i>
                                <a style="color:white" href="{{ path('hwi_oauth_service_redirect', {'service': 'yahoo'}) }}">
                                    <span class="buttonText" style="width:200px;">{{ 'Đăng ký với Yahoo!'|trans }}</span>
                                </a>
                            </div>
                        </div>
                        
                        <div id="gSignInWrapper" class="show-for-small">
                            <div id="customBtnYahoo" class="customGPlusSignIn" style="width:130px">
                                <span class="icon"></span>
                                <a style="color:white" href="{{ path('hwi_oauth_service_redirect', {'service': 'yahoo'}) }}">
                                    <span class="buttonText" style="font-size:7pt;padding-left:5px">{{ 'Đăng ký với Yahoo!'|trans }}</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
        </div>
    </div>
</div>
<!-- START SLIDER -->
<div id="sliderHome" class="owl-carousel">

    <div><img src="{{ asset('images/slider/football.jpg') }}" alt="football" style="" data-equalizer-watch /></div>
    <div><img src="{{ asset('images/slider/basketball.jpg') }}" alt="basketball" style="" data-equalizer-watch /></div>
    <div><img src="{{ asset('images/slider/badminton.jpg') }}" alt="badminton" style=""data-equalizer-watch /></div>
    <div><img src="{{ asset('images/slider/tennis.jpg') }}" alt="tennis" style="" data-equalizer-watch /></div>
    <div><img src="{{ asset('images/slider/volley.jpg') }}" alt="volley" style="" data-equalizer-watch /></div>
</div>
</div>
<!-- END SLIDER -->
<div class="row" style="padding-top:25px">
    <div class="small-4 medium-4 large-4 columns text-center">
        <img src="{{ asset('images/icons/find_players.png') }}" alt="find players"/>

        <div class="MuseoSlab-500" style="padding-top: 5px;"> {{ 'Tìm người chơi và'|trans }} <br/>{{ 'tạo đội'|trans }}
        </div>

    </div>
    <div class="small-4 medium-4 large-4 columns text-center">
        <img src="{{ asset('images/icons/playgrounds.png') }}" alt="find players"/>

        <div class="MuseoSlab-500" style="padding-top: 5px;"> {{ 'Tìm sân chơi'|trans }}</div>

    </div>
    <div class="small-4 medium-4 large-4 columns text-center">
        <img src="{{ asset('images/icons/message.png') }}" alt="find players"/>

        <div class="MuseoSlab-500" style="padding-top: 5px;">{{ 'Kết nối và chơi'|trans }} </div>


    </div>
</div>
<div class="row featured-sub-desc hide-for-small" style="padding-bottom: 40px">
    <div class="small-4 medium-4 large-4 columns text-center">
        <div class="featured-sub-desc hide-for-small">
            No to the same exercise routine? Sign up and start looking for suitable members to play.
        </div>
    </div>
    <div class="small-4 medium-4 large-4 columns text-center">

        <div class="featured-sub-desc hide-for-small">
            You wonder if your county has any playground, and those who play in it? This feature will help you find the
            most suitable playground.
        </div>
    </div>
    <div class="small-4 medium-4 large-4 columns text-center">

        <div class="featured-sub-desc hide-for-small">
            No to the same exercise routine? Sign up and start looking for suitable members to play.
        </div>

    </div>


</div>
<div class="row">
    <hr/>
    <hr/>
</div>
<div id="logos" class="row">

    <div class="small-4 medium-4 large-4 columns text-center">
        <img src="{{ asset('images/562px-Adidas_Logo.svg.png') }}" alt="addidas logo"/>
    </div>

    <div class="small-4 medium-4 large-4 columns text-center">
        <img style="padding-top:15px" src="{{ asset('images/nike_logo.png') }}" alt="nike logo"/>
    </div>

    <div class="small-4 medium-4 large-4 columns text-center">
        <img src="{{ asset('images/puma-logo.png') }}" alt="puma logo"/>
    </div>

</div>

<div id="why-us" class="row">

    <div class="small-6 medium-6 large-6 columns">
        <div style="float:left">{{ 'Tại sao chọn Teamsport?'|trans }}</div>
        <hr style="width:50%;clear:none"/>
        <hr style="width:50%;clear:none"/>
        <div class="content">
            <div style="padding-top:5px;padding-bottom:5px;color:#747474"><img
                        src="{{ asset('images/icons/arrow_why_us.png') }}" alt="arrow why us"/> <span
                        style="margin-left:10px">{{ 'Miễn phí'|trans }}</span></div>
            <div style="padding-top:5px;padding-bottom:5px;color:#747474"><img
                        src="{{ asset('images/icons/arrow_why_us.png') }}" alt="arrow why us"/> <span
                        style="margin-left:10px">{{ 'Chơi với người nước ngoài' }}</span></div>
            <div style="padding-top:5px;padding-bottom:5px;color:#747474"><img
                        src="{{ asset('images/icons/arrow_why_us.png') }}" alt="arrow why us"/> <span
                        style="margin-left:10px">{{ 'Dễ sử dụng'|trans }}</span></div>
        </div>
    </div>

    <div class="small-6 medium-6 large-6 columns">
        <div style="float:left">{{ 'Người chơi gần đây'|trans }}</div>
        <hr style="width:60%;clear:none"/>
        <hr style="width:60%;clear:none"/>
        <div id="sliderPlayers" class="content">
            {#{% for player in players %}#}
                {#{% if player.document is defined %}#}
                    {#{% for img in player.document %}#}
                        {#{% if img.type == 'image' %}#}
                            {#{% set url = img.id ~ "." ~ img.url %}#}
                        {#{% endif %}#}
                    {#{% else %}#}
                        {#{% set url = 'img_profile_default.jpg' %}#}
                    {#{% endfor %}#}
                {#{% endif %}#}

                {#<div>#}

                    {#<div class="small-6 medium-6 large-6 columns" style="padding:0"><img#}
                                {#src="{{ asset('uploads/img/'~url)| imagine_filter('my_thumb_25') }}"#}
                                {#class="img-circle"/><b>{{ player.prenom }} {{ player.nom }}</b></div>#}
                    {#<div class="small-6 medium-6 large-6 columns">Rating: <img#}
                                {#src="{{ asset('images/icons/stars.png') }}" alt="stars"/><img#}
                                {#src="{{ asset('images/icons/stars.png') }}" alt="stars"/><img#}
                                {#src="{{ asset('images/icons/stars.png') }}" alt="stars"/><img#}
                                {#src="{{ asset('images/icons/stars.png') }}" alt="stars"/><img#}
                                {#src="{{ asset('images/icons/stars.png') }}" alt="stars"/></div>#}
                    {#<div>comment</div>#}
                {#</div>#}
            {#{% endfor %}#}
        </div>
    </div>


</div>
{% block javascripts %}
    <script>
//        jQuery('#registerButton').click(function () {
//
//            jQuery('#registerForm').submit();
//        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#sliderHome").owlCarousel({
                items: 5,
                itemsCustom: false,
                itemsDesktop: [1199, 4],
                itemsDesktopSmall: [980, 3],
                itemsTablet: [768, 2],
                itemsTabletSmall: false,
                itemsMobile: [479, 1],
                singleItem: true,
                itemsScaleUp: false,

                //Basic Speeds
                slideSpeed: 400,
                paginationSpeed: 800,
                rewindSpeed: 1000,

                //Autoplay
                autoPlay: true,
                stopOnHover: false,

                // Navigation
                navigation: false,//true set up the arrow later
                navigationText: [
                    "<i class='icon-chevron-left icon-white'></i>",
                    "<i class='icon-chevron-right icon-white'></i>"
                ],
                rewindNav: true,
                scrollPerPage: false,

                //Pagination
                pagination: false,
                paginationNumbers: false,

                // Responsive
                responsive: true,
                responsiveRefreshRate: 200,
                responsiveBaseWidth: window,

                // CSS Styles
                baseClass: "owl-carousel",
                theme: "owl-theme",

                //Lazy load
                lazyLoad: true,
                lazyFollow: true,
                lazyEffect: "fade",

                //Auto height
                autoHeight: false,

                //JSON
                jsonPath: false,
                jsonSuccess: false,

                //Mouse Events
                dragBeforeAnimFinish: true,
                mouseDrag: true,
                touchDrag: true,

                //Transitions
                transitionStyle: false,

                // Other
                addClassActive: false,

                //Callbacks
                beforeUpdate: false,
                afterUpdate: false,
                beforeInit: false,
                afterInit: false,
                beforeMove: false,
                afterMove: false,
                afterAction: false,
                startDragging: false,
                afterLazyLoad: false


            });
            $("#sliderPlayers").owlCarousel({
                singleItem: true,
                autoPlay: true,
                pagination: false
            });
        });
//        (function () {
//            var po = document.createElement('script');
//            po.type = 'text/javascript';
//            po.async = true;
//            po.src = 'https://apis.google.com/js/client:plusone.js?onload=render';
//            var s = document.getElementsByTagName('script')[0];
//            s.parentNode.insertBefore(po, s);
//        })();
//
//        function render() {
//            gapi.signin.render('customBtn', {
//                //'callback': 'signinCallback',
//                'clientid': '841077041629.apps.googleusercontent.com',
//                'cookiepolicy': 'single_host_origin',
//                'requestvisibleactions': 'http://schema.org/AddAction',
//                'scope': 'https://www.googleapis.com/auth/plus.login'
//            });
//        }
    </script>
{% endblock %}