<!-- Form Modal 3 -->
<script>
function invitePlayer() {
            var time = jQuery('#timePlay').val();
            var where = jQuery('#placePlayInvit').val();
            var id = "{{ profile.id }}";
            $.ajax({
                type: "POST",
                data: {idProfileInvite: id, timePlay: time, placePlay: where},
                dataType: 'text',
                url: "{{ path('InviteToPlay') }}",
                cache: false,
                success: function (data) {

                    alert('Thông báo đã gửi. Cảm ơn bạn');
                    window.setTimeout(window.location.reload(), 2000);
                }
            });
        }

</script>
<style>
	.modal-head {
		padding:20px;
		background: #1b1e24;
	}
</style>
<!-- Modal -->
<div class="modal fade" id="modal-3">
    <div class="modal-dialog">
        <div class="">
            <!-- Modal body -->
            <div class="modal-body padding-none">
                <!-- Form Wizard / Widget Pills -->
                <div class="wizard">
                    <div class="widget margin-none border-none widget-tabs widget-wizard-pills widget-tabs-responsive">
                        <!-- Widget heading -->
                        <div class="modal-head">
                        	{{ 'Mời để chơi'|trans }}
                        </div>
                        <!-- // Widget heading END -->
                        <div class="widget-body innerAll inner-2x">
                            <div class="tab-content">
                                <!-- Step 1 -->
                                <div class="tab-pane active" id="tab1-3">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <strong>{{ 'Khi nào bạn muốn chơi?'|trans }}</strong>

                                        </div>
                                        <div class="col-md-9">

                                            <div class="input-group date" id="datepicker3">
                                                <input id="timePlay" class="col-md-6 form-control" type="text" placeholder="Select date..." />
                                                <span class="input-group-addon"><i class="fa fa-th"></i>
                                                </span>
                                            </div>
                                            <div class="separator"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <strong>{{ 'Bạn muốn chơi ở đâu?'|trans }}</strong>

                                            </div>
                                            <div class="col-md-9">
                                                <input id="placePlayInvit"type="text" placeholder="Nhập nơi để chơi" class="form-control">
                                            </div>
                                        </div>
                                        <h4>Làm thế nào bạn muốn thông báo?</h4>
                                        <button class="btn btn-primary btn-icon-stacked"><!--<i class="fa fa-2x fa-twitter"></i> -->
                                            <span>{{ 'Thông báo của Teamsport.vn'|trans }}</span>
                                        </button>
                                        <br /><br />
                                        <button class="btn btn-primary btn-icon-stacked"><!--<i class="fa fa-2x fa-twitter"></i> -->
                                            <span>{{ 'Nhắn tin thông báo qua SMS (chưa áp dụng)'|trans }}</span>
                                        </button>
                                        <button class="btn btn-primary btn-icon-stacked"><!--<i class="fa fa-2x fa-twitter"></i> -->
                                            <span>{{ 'Nhắn tin thông báo qua SMS (chưa áp dụng)'|trans }}</span>
                                        </button>
                                        <button class="btn btn-primary" onclick="invitePlayer();">Xác nhận</button>
                                    </div>
                                </div>

                            </div>
                            <!-- Wizard pagination controls -->

                            <div class="clearfix"></div>
                            <!-- // Wizard pagination controls END -->
                        </div>
                    </div>
                </div>
                <!-- // Form Wizard / Widget Pills END -->
            </div>
            <!-- // Modal body END -->
        </div>
    </div>
</div>
<!-- // Modal END -->