{% include 'SportimimiuserBundle:Page:inviteToPlayPopUp.html.twig' %}
<div class="col-md-4 col-lg-3">
    <!--
    <div class="widget">
        <div class="widget-body text-center">
            {% if user.document is defined %}

                {% for img in user.document %}

                    {% if img.type == 'image' %}
                        {% set url = img.id ~ "." ~ img.url %}
                    {% endif %}

                {% else %}
                    {% set url = 'img_profile_default.jpg' %}
                {% endfor %}
            {% endif %}
            <a href="{{ path('DetailProfile') }}"><img src="{{ asset('uploads/img/'~url)| imagine_filter('my_thumb_60') }}" style="cursor:pointer;" ></a>
            <h2 class="strong margin-none">{{ user.prenom }} {{ user.nom }}</h2>
            <div class="btn-group-vertical btn-block">
                <a href="{{ path('DetailProfile') }}" class="btn btn-default"><i class="fa fa-cog pull-right"></i>{{ 'Chỉnh sửa tài khoản của tôi'|trans }}</a>
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default">{{ 'Thoát'|trans }}</a>
            </div>
        </div>
    </div>
    -->
    <div class="flexslider">
        <h5 style="padding:10px">{{ 'Những thành viên hiện tại đang tìm người chơi cùng'|trans }}</h5>
        <ul class="slides">

            {% for prof in profileMatch if prof.searchPlayer == 1 %}
                <li>
                    <div class="media border-bottom innerAll margin-none">
                        {% for img in prof.document %}

                            {% if img.type == 'image' %}
                                {% set url = img.id ~ "." ~ img.url %}
                            {% endif %}

                        {% else %}
                            {% set url = 'img_profile_default.jpg' %}
                        {% endfor %}
                        <a href="{{ path('DetailProfile',{'id': prof.id}) }}">
                            <img src="{{ asset('uploads/img/'~url)| imagine_filter('my_thumb_200') }}"
                                 class="pull-left media-object"/>
                        </a>

                        <div class="slide-text">
                            <!--<a href="" class="pull-right text-muted innerT half">
                                <i class="fa fa-comments"></i> 4
                            </a>-->
                            <a href="{{ path('DetailProfile',{'id': prof.id}) }}" class="text-inverse"
                               style="font-weight:bold;color:#00A650">{{ prof.nom }} {{ prof.prenom }}</a>

                            <div>
                                {% for sport in prof.sports|slice(0,5) %}
                                    <div>{{ sport.nameVn }}</div>
                                {% endfor %}
                            </div>
                            <br/>
                            <small>
                                {% if user.id != prof.id %}
                                    <a href="#modal-3" data-toggle="modal" class="btn btn-info btn-sm">
                                        <i class="icon-turn-right"></i> Mời chơi cùng
                                    </a>
                                {% endif %}
                            </small>

                        </div>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>

</div>