{% macro flash(type, message, close, use_raw, class, domain) %}
    <div class="alert{{ type ? ' alert-'~type : '' }} fade in {{ class|default('') }} {% if close|default(false) %}alert-dismissable{% endif %}">
        {% if close|default(false) %}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% endif %}
        {% if use_raw|default(false) %}
            {{ message|trans({}, domain|default('messages'))|raw }}
        {% else %}
            {{ message|trans({}, domain|default('messages')) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro session_flash(close, use_raw, class, domain) %}
    {% import _self as flash_messages %}

    {% if app.session.flashbag.peekAll|length > 0 %}
        {% set mapping = {'fos_user_success':'success', 'error': 'error', 'success': 'success'} %}
        {% set flashes = {} %}

        {% for type in mapping|keys %}
            {% set flashes = flashes | merge({ (type) : app.session.flashbag.get(type) }) %}
        {% endfor %}

        {% for type, messages in flashes %}
            {% if type == 'fos_user_success' %}
                {% set domain = 'FOSUserBundle' %}
            {% endif %}
            {% for message in messages %}
                {{ flash_messages.flash(mapping[type], message, close, use_raw, class, domain) }}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endmacro %}