{% extends "FOSUserBundle::layout.html.twig" %}
{% block stylesheets_include %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>

{% endblock %}
{% block fos_user_content %}

    <div class="row">
        <div class="small-12 medium-6 large-6 small-centered medium-centered large-centered columns"
             style="padding-top:100px;padding-bottom:100px">

            <form action="{{ path("fos_user_security_check") }}" method="post">

                <div id="inner-wrapper">
                    {% if error %}
                        <div style="color:red">{{ 'Email hoặc mật khẩu sai'|trans }}</div>
                    {% endif %}
                    <div style="">
                        <input id="username" name="_username" class="form-control text-center bg-gray" type="text"
                               placeholder="{{ 'Nhập email của bạn'|trans }}" style=""
                                />
                        <input id="password" name="_password" class="form-control text-center bg-gray" type="password"
                               placeholder="{{ 'Nhập mật khẩu của bạn'|trans }}" style="margin-top:10px"
                                />
                    </div>
                    <div class="small-8 medium-6 large-6 small-centered medium-centered large-centered columns">

                        <input type="submit" id="_submit" name="_submit" class="button radius text-center"
                               value="Đăng nhập"/>
                        <i class="fa fa-fw fa-unlock-alt"></i>
                    </div>

                    <div class="small-6 medium-6 large-6 columns">
                        <a href="{{ path('fos_user_resetting_request') }}"
                           class="btn margin-none">{{ 'Quên mật khẩu?'|trans }}</a>
                    </div>

                    <div class="small-6 medium-6 large-6 columns">
                        <a href="{{ path('AddProfile') }}" class="btn margin-none">
                            {{ 'Chưa có tài khoản?'|trans }}<br/>
                            {{ 'Xin vui lòng đăng ký'|trans }}                             
                        </a>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock fos_user_content %}