 <div id="alert-player" style="display:none;padding:25px">

    <table>
        <tr>
            <td>{{ 'Khi nào bạn muốn chơi?'|trans }}<span style="color:red">(*)</span> </td>

            <td><input type="date" id="timePlay" /></td>
        </tr>
        <tr>
            <td>{{ 'Bạn muốn chơi ở đâu?'|trans }}<span style="color:red">(*)</span></td>
            <td><input type="text" id="placePlay" /></td>
        </tr>
    </table>
    <div style="margin-top:30px">
        <div style="margin-top:30px">
            <a class="button-next" href="#" onclick="notification_play({{profile.id}})" >
                {{ 'Thông báo của Teamsport.vn'|trans }}<img src="{{ asset('images/icons/double-arr.png') }}" alt=""> 
            </a>

        </div>

        <div style="margin-top:30px">
            <a class="button-next" href="#" onclick="jQuery('#place').submit();" style="background:grey;pointer-events: none;cursor: default;" >
                {{ 'Nhắn tin thông báo qua SMS (chưa áp dụng)'|trans }}<img src="{{ asset('images/icons/double-arr.png') }}" alt=""> 
            </a>

        </div>
    </div>


</div>