{# src/Sportimimi/userBundle/Resources/views/Team/listTeams.html.twig #}
{% extends 'SportimimiuserBundle::layout.html.twig' %}
{% block title %}{{ 'Tìm kiếm người chơi'|trans }}{% endblock %}

{% block stylesheets_include %}


{% endblock %}



{% block javascripts %}
  <script>
           function addComment()
   {
   
       var content = jQuery('#users_comment_content').val();
       $.ajax({
           type: "POST",
           data: {id: {{ profile.id }}, content: content},
           dataType: 'text',
           url: "{{ path('AddUserComment') }}",
           cache: false,
           success: function(data) {
   
               window.location.reload();
           }
       });
   
   }
  </script>
{% endblock %} 

{% block body %}
    <div class="innerLR">
        <h3 class="pull-left margin-none innerR">{{ 'List Comment'|trans }}</h3>

        <div class="clearfix"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="input-group innerB">
            <div class="input-group-btn">
                  {{ form_label(form.content) }}
                   <div class="col-md-8">
                        {{ form_widget(form.content) }}
                    </div>
                <button class="btn btn-default" type="button" onclick="addComment()">{{ 'Add Comment'|trans }}</i>
                </button>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <!-- Col sport slide -->
            <div class="col-md-9">
                <!-- Start Featured -->
                {% set i = 0 %}
                <div class="row">
                    {% for uc in userComments %}
                        {% if i is divisible by(3) and i != 0 %}
                </div>
                <div class="row">
                    {% endif %}
                    <div class="col-sm-3">
                        <div class="widget">
                            
                            <div class="text-center innerAll">
                                {{ uc.content}}
                                <div class="clearfix"></div>
                                <!--<small class="text-center"><i class="fa fa-clock-o"></i> 5:15</small>-->
                            </div>
                        </div>
                    </div>

                    {% set i = i + 1 %}
                    {% endfor %}
                </div>
                <!-- End Featured -->
                <div class="clearfix"></div>



            </div>
            <!-- Col -->
           
        </div>
    </div>
{% endblock %}
