{# src/Sportimimi/userBundle/Resources/views/Team/listTeams.html.twig #}
{% extends 'SportimimiuserBundle::layout.html.twig' %}
{% block title %}{{ 'Tìm kiếm người chơi'|trans }}{% endblock %}

{% block stylesheets_include %}


{% endblock %}



{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#filter_contact').on('input', function () {
                $('.col-sm-3').hide() // hide all the selected elements
                        .filter(':contains("' + $('#filter_contact').val() + '")')
                        .show(); // show the filtered elements
            });
        });
    </script>
{% endblock %} 

{% block body %}
    <div class="innerLR">
        <h3 class="pull-left margin-none innerR">{{ 'Tìm kiếm người chơi'|trans }}</h3>

        <div class="clearfix"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="input-group innerB">
            <input id="filter_contact" type="text" class="form-control " placeholder="{{ 'Tìm người chơi'|trans }}">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <!-- Col sport slide -->
            <div class="col-md-9">
                <!-- Start Featured -->
                {% set i = 0 %}
                <div class="row">
                    {% for prof in profile %}
                    {% if i is divisible by(4) and i != 0 %}
                </div>
                <div class="row">
                    {% endif %}
                    <div class="col-sm-3">
                        <div class="widget">
                            <a href="{{ path('DetailProfile', {'id': prof.id}) }}"
                               class="display-block bg-success innerAll text-center text-white">
                                {% if prof.document is defined %}

                                    {% for img in prof.document %}

                                        {% if img.type == 'image' %}
                                            {% set url = img.id ~ "." ~ img.url %}
                                        {% endif %}

                                    {% else %}
                                        {% set url = 'img_profile_default.jpg' %}
                                    {% endfor %}
                                {% endif %}
                                <img src="{{ asset('uploads/img/'~url)| imagine_filter('my_thumb_80') }}">
                            </a>

                            <div class="text-center innerAll">
                                <a href="{{ path('DetailProfile', {'id': prof.id}) }}"
                                   class="strong">{{ prof.nom }} {{ prof.prenom }}</a>

                                <div>

                                    {% for sport in prof.sports|slice(0,5) %}
                                        <div>{{ sport.nameVn }}</div>
                                    {% endfor %}
                                </div>
                                <div class="clearfix"></div>
                                <!--<small class="text-center"><i class="fa fa-clock-o"></i> 5:15</small>-->
                            </div>
                        </div>
                    </div>

                    {% set i = i + 1 %}
                    {% endfor %}
                </div>
                <!-- End Featured -->
                <div class="clearfix"></div>



            </div>
            <!-- Col -->
            <div class="col-md-3">

                <div class="widget">
                    <div class="widget-body padding-none">
                        <a href="{{ path('ListProfile') }}">
                            <h4 class="innerAll bg-primary text-white margin-bottom-none">Chọn Thể thao</h4>
                        </a>
                        <ul class="list-group list-group-1 margin-none borders-none">
                            {% for category in categories %}
                                {% if category.profiles|length > 0 %}
                                    <li class="list-group-item border-top-none">
                                        <a href="?sport={{ category.id }}">
                                            <span class="badge pull-right bg-primary ">{{ category.profiles|length }}</span><i
                                                    class="fa fa-exclamation-circle"></i>&nbsp;
                                            {{ category.nameVn }}</a>
                                    </li>
                                {% endif %}


                            {% endfor %}


                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
