{# src/Sportimimi/userBundle/Resources/views/Page/createAricle.html.twig #}
{% extends 'SportimimiuserBundle::layout.html.twig' %}
{% block stylesheets_include %}
	<link href="{{ asset('css/event.css') }}" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ asset('chosen-master/public/chosen.css') }}">
{% endblock %}

{% block javascripts %}

	<script src="{{ asset('chosen-master/public/chosen.jquery.min.js') }}"></script> 
	<script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
	<script type="text/javascript">
	CKEDITOR.replace( 'ArticleType_content' );
</script>
{% endblock %} 

{% block title %}Tạo Bài Viết{% endblock %}
{% block body %}
	<div id="create-article" style="padding:25px">

		<h2>Tạo bài viết</h2>
		
		<form action="" method="post" {{ form_enctype(form) }}>
			{{ form_errors(form.name) }}
			{{ form_errors(form.content) }}
			{{ form_label(form.name) }} 
			{{ form_widget(form.name) }} 
			<div style="padding:20px">
				{{ form_widget(form.content) }}
			</div>
			{{ form_widget(form) }}
			<center><input type="submit" value="Tạo Sự Kiện" /></center>
		</form>
{% endblock %}